.yivic-lite-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}