$color_1:               #fff;
$widthIconMenu:         38px;
$heightIconMenu:        38px;
$yivicColorIconWhite:   invert(100%) sepia(0) saturate(7500%) hue-rotate(3deg) brightness(100%) contrast(101%);
$widthIconArrow:        20px;