/***************************************************
  Media queries for responsive design
****************************************************/

@media (min-width: $media-breakpoint-md) {
  @import "../breakpoints/md/yivic-lite-post";
}

@media (min-width: $media-breakpoint-lg) {
  @import "../breakpoints/lg/yivic-lite-post";
}