.yivic-lite-404 {
  padding: 60px 40px;
}

.yivic-lite-404__title {
  font-size: 32px;
}

.yivic-lite-404__subtitle {
  font-size: 16px;
}

.yivic-lite-404__search input[type="submit"] {
  width: auto; // More compact on desktop
  padding: 10px 22px;
  margin-top: 8px;
}